@import "tailwindcss";

:root {
  --background: #E1D9D1;
  --foreground: #4A3326; /* Deep elegant brown */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #8E6B58; /* Lighter brown for accents */
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-montserrat), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
